<div class="content nav-desktop">
	<nav class="navbar" [ngStyle]="{'background-color': primary}">
		<div class="grid-container">
			<div class="nav-main">
				<a class="navbar-brand" href="#">
					<i class="fa fa-cloud logo-img" width="80px" aria-hidden="true" style="margin-right:10px;font-size:30px; color:white"></i>
					<h1>OneSync</h1>
				</a>
			</div>

			<div class="navbar-collapse">
				<ul class="navbar-link-ctnr">
					<!-- Dashboard -->
					<li class="nav-item">
						<a class="nav-link" routerLink="/dashboard" routerLinkActive="nav-link-active">
							<!-- Dashboard icon -->
							<i class="nav-top-icon fal fa-th-large"></i>
							<span class="nav-link-label">Dashboard</span>
						</a>
					</li>
					<!-- Tables -->
					<li class="nav-item nav-dropdown-btn" [ngClass]="{'nav-item-desktop': !smallWidth}">
						<a class="nav-link" [ngClass]="{'nav-link-drop-active': inDropdown[0]}" routerLinkActive="nav-link-active">
							<i class="nav-top-icon fal fa-user"></i>
							<span class="nav-link-label">Tables</span>
							<i style="margin-left:7px" class="fa fa-caret-down"></i>
						</a>
						<div class="nav-dropdown-content" [ngClass]="{'nav-dropdown-content-active': inDropdown[0]}" (mouseenter)="!smallWidth ? inDropdown[0] = true : false"
						 (mouseleave)="!smallWidth ? inDropdown[0] = false : false">
							<a routerLink="/users/list" routerLinkActive="link-active">
								<span class="dropdown-icon"><i class="fal fa-list-alt"></i></span>
								<span class="dropdown-label">Table Type</span>
							</a>
							<a routerLink="/users/sources" routerLinkActive="link-active">
								<span class="dropdown-icon"><i class="fal fa-list-alt"></i></span>
								<span class="dropdown-label">Table Type</span></a>

							<a routerLink="/users/fields" routerLinkActive="link-active">
								<span class="dropdown-icon"><i class="fal fa-list-alt"></i></span>
								<span class="dropdown-label">Table Type</span>
							</a>
						</div>
					</li>



					<!-- Settings -->
					<li class="nav-item">
						<a class="nav-link" routerLink="/settings" routerLinkActive="nav-link-active">
							<i class="nav-top-icon fal fa-cog"></i><span class="nav-link-label">Settings</span>
						</a>
					</li>
				</ul>

				<span *ngIf="false" class="navbar-message"> <!-- need to add to framework -->
        <i class="far fa-exclamation-triangle"></i><span>Automatic Exports Disabled</span>
				</span>

				<ul class="navbar-link-ctnr">
					<li class="nav-item nav-dropdown-btn" [ngClass]="{'nav-item-desktop': !smallWidth}">
						<a class="nav-link icon-link" [ngClass]="{'nav-link-drop-active': inDropdown[3]}">
							<i class="nav-top-icon fal fa-user-circle"></i>
							<i class="fa fa-caret-down"></i>
						</a>
						<div class="nav-dropdown-content dropdown-extend-left" [ngClass]="{'nav-dropdown-content-active': inDropdown[3]}" (mouseenter)="!smallWidth ? inDropdown[3] = true : false"
						 (mouseleave)="!smallWidth ? inDropdown[3] = false : false">
							<a routerLink="/settings/user" routerLinkActive="link-active">
								<span class="dropdown-icon"><i class="fal fa-cog"></i></span>
								<span class="dropdown-label">User Settings</span>
							</a>
							<!-- create link / route for help modal -->
							<a href="https://support.classlink.com/hc/en-us">
								<span class="dropdown-icon"><i class="fal fa-info-circle"></i></span>
								<span class="dropdown-label">Help</span>
							</a>
							<a routerLink="/login" routerLinkActive="link-active">
								<span class="dropdown-icon"><i class="fal fa-sign-out"></i></span>
								<span class="dropdown-label">Log Out</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container" style="margin-top: 70px">
    <div class="info-card-wrapper col-12 no-gutters">
        <div class="info-card-ctnr">
            <div class="info-card box" *ngFor="let card of infoCards, index as i" [ngClass]="{'status-success': i == 1, 'status-warning': i == 2,'status-failure': i == 3 }">
                <p class="name">{{ card.name }}</p>
                <p class="value">{{ card.value }}</p>
            </div>
        </div>
    </div>
    <div class="card-wrapper col-12 no-gutters">
    <h2><a routerLink="/users/sources" style="color: inherit;">Content Cards</a></h2>
    <div class="card-ctnr">
        <div *ngFor="let card of contentCards" class="card box card-clickable">
            <div class="card-desc">
                <div class="card-desc-left">
                    <div class="name-ctnr" style="height: auto; padding: 10px;">
                        <div class="dir-icon" style="border-radius: 5px; opacity: 0.9; background-color: var(--color-lightbg-2); min-width:100px; height:100px;"></div>
                        <div class="name-details" style="display: flex; height: 100px; padding: 10px 0;">
                            <h3 routerLink="/users/sources/settings">{{ (card.name.length > 20 ? (card.name | slice:0:20) + '...' : (card.name)) }}</h3>
                            <span style="opacity: 0.5; font-size: 12px; margin-top:12px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean interdum sapien sit amet urna cursus, nec viverra tortor facilisis.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	</div>

  

</div>